body {
  display: block;
  height: 100vh;
  width: 100vw;
  margin: 0;
  cursor: url("images/junimo.png"), auto;
  background-image: url("images/secretarea.png"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.farmer {
  position: fixed;
  top: 43%;
  right: 43%;
  max-height: 14%;
  max-width: 14%;
}

.penny {
  position: fixed;
  top: 64%;
  right: 30%;
  max-height: 13%;
  max-width: 13%;
}

.sebastian {
  position: fixed;
  bottom: 0;
  right: 41%;
  max-height: 14%;
  max-width: 14%;
}

.none {
  display: none;
}

.top {
  display: flex;
  height: 53%;
  width: 100%;
}
.middle {
  display: flex;
  height: 16%;
  width: 100%;
}
.bottom {
  display: flex;
  height: 31%;
  width: 100%;
}
.left {
  display: flex;
  height: 100%;
  width: 43%;
}
.right {
  display: flex;
  height: 100%;
  width: 50%;
}
.chest {
  display: flex;
  height: 100%;
  width: 7%;
}

/*ux*/

.clickable {
  filter: brightness(85%) drop-shadow(1px 3px 2px);
}
.clickable:hover {
  cursor: pointer;
  filter: brightness(100%) drop-shadow(1px 3px 2px);
}
/* add satisfaction to click */
.clickable:active {
  filter: drop-shadow(0px 0px 3px);
  transform: scale(0.98);
}

.glow {
  filter: brightness(85%);
}
.glow:hover {
  cursor: pointer;
  color: rgb(46, 46, 46);
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fffb00,
      0 0 40px #fffb00, 0 0 50px #fffb00, 0 0 60px #fffb00, 0 0 70px #fffb00;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #dce497, 0 0 40px #dce497,
      0 0 50px #dce497, 0 0 60px #dce497, 0 0 70px #dce497, 0 0 80px #dce497;
  }
}

.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

/* modal */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: #1c1c1c;
  opacity: 0.95;
}

/* Don't cover the entire screen */
.modal-content {
  width: 80%;
  height: 80%;
  max-height: 100%;
  max-width: 100%;
  opacity: 1;
  margin: 0;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  position: fixed;
  top: 0;
  right: 0;
  max-height: 14%;
  max-width: 14%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
